* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  height: 500vh;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  width: 100%;
  padding: 60px 4%;
  position: fixed;
  top: 0;
  left: 0;
}

header ul {
  display: flex;
  list-style-type: none;
}

header ul li {
  margin: 0 40px;
}

header ul li a {
  color: #fff;
  text-decoration: none;
}

.btn {
  width: 120px;
  height: 40px;
  border: 0;
  background-color: #FE775A;
  color: #fff;
  cursor: pointer;
  transition: .2s;
}

.banner {
  height: 100vh;
  background-image: url(../img/red-dead.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}