body, html {
    height: 100%;
  }
  
  .parallax {
    /* The image used */
    background-image: url("/img/red-dead.png");
  
    /* Full height */
    height: 100%;
    
  
    /* Create the parallax scrolling effect */ 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax p {
    margin: 0 auto;
    text-align: center;
    padding: 500px;
    font-size: 100px;
    color: white;
  }